.navbar-container{
        text-decoration: none;
        font-size:20px;
        color:rgb(53, 50, 50);
        font-weight:bold;
        margin-left:8%;
       
}
.header-container{
    margin-left: 20%;
}
.yahia{
    margin-left:20%
}
.yahia-navbar{
    padding:5px;
}
.yahia-s{
    color: rgb(167, 30, 30);
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .yahia-s-portfolio{
    color:rgb(15, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
  }